@font-face {
    font-family:'Courier New', Courier, monospace;
}

p {
    text-align: justify;
}
.autreparagraphe {
    color: cornflowerblue;
}
/*
body {
    background: silver;
}
h1 {
    border: 3px blue solid;
    border-radius: 20px / 10px;
    box-shadow: 6px 6px 6px black;
}
a:visited {
    color: red;
}
.autreparagraphe {
    clear: right;
}
*/